body {
  background-color: rgb(146, 112, 112);
  font-family: "Goldman", cursive;
  font-weight: 400;
}
a {
  color: white;
}
h1,
h3 {
  font-weight: 700;
}
.photo {
  width: 240px;
  height: 320px;
}
.contact-link {
  color: yellowgreen;
}

.toch {
  border-bottom: 10px dotted red;
  border-top: none;

  width: 50px;
}
